/* MOBILE */

@media screen and (max-width:480px){
    
    .row{
        flex-direction: column;
    }

    .container{
        width: 100%;
    }

    .lessons .col{
        font-size: 20px;
        width: 100%;
    }

    .steps .col{
        font-size: 20px;
        width: 100%;
    }

    .why-us .col{
        font-size: 20px;
        width: 100%;
    }

    img{
        width: 100%;
    }

    .card{
        margin-top: 30px;
    }
}

/* TABLET */

@media screen and (max-width:768px) and (min-width:481px){

    .container{
        width: 100%;
    }
}

